<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
    <body>
    <%- include('partials/header') %>

<div class="container" style="background-color:rgba(136, 216, 240, 0.507); margin-top: 10px; margin-bottom: 10px;">
    <div class="row">    
        <div class="col-12">
            <h4 class="nav justify-content-center" style="border-bottom: 1px solid white; margin-bottom: 15px;">Productos subidos</h4>
        </div>
        <% productos.forEach(producto => { %>
            <div class="col-12 text-center">
                <h5 style="color: orange;"><%= producto.name %></h5>
                <img src="/images/products/<%= producto.image %>" class="img-fluid">
                <h6 style="color: rgb(0, 255, 0);">$<%= producto.price %></h6>
                <p style="color: white;"><%= producto.description %></p>
                <div class="nav justify-content-center">
                    <div>
                    <!---Agregar ruta en el action para el formulario de edición(GET)-->
                    <form action="/producto/<%= producto.id %>/editar" method="GET">
                    <button type="submit">Editar</button>
                    </form>
                    </div>
                    <div>
                     <!---Agregar ruta para eliminar el producto(DELETE)-->
                    <form action="/producto/<%= producto.id %>/eliminar?_method=DELETE" method="POST">
                        <button type="submit">Eliminar</button>
                    </form>
                    </div>
                </div>
                
            </div>
        <% }) %>
    </div>
</div>

</body>
<%- include('partials/footer') %> 
</html>