<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
<%- include('partials/header') %>

<!--categorias-->
<div class="container" id="allproducts">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <nav id="botoncategorias" class="navbar-expand-md">
       <h6 id="categorias">Categorias</h6>
       <button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="menu navbar-nav mr-auto">
         <li><a href="">Procesadores</a></li>
         <li><a href="">Motherboards</a></li>
         <li><a href="">Almacenamiento</a></li>
          <li><a href="">RAM</a></li>
          <li><a href="">Gabinetes</a></li>
          <li><a href="">Fuentes</a></li>
          <li><a href="">Pantallas</a></li>
          <li><a href="">Otros</a></li>
       </ul>
       </div>
     </nav>
    </div>

    <!---todos los productos-->
      <div class="col-12 col-md-6 col-lg-8">
      <h3 style="text-align: center;">Productos</h3>
      <section class="text-center" id="todoslosproductossection">
        <% productos.forEach(producto => { %>
        <div class="cajadeproducto">
        <a href="/producto/detalle/<%- producto.id %>" style="text-decoration: none;"><h4 style="color: orange; font-size: small;"><%- producto.name %></h4>
        <img src="/images/products/<%- producto.image %>" width="150px" height="150px" id="imagendelproducto">
        </a>
        <h6 style="font-weight: bolder;">Precio:</h6><h6 style="color: rgb(0, 255, 0);">$<%- producto.price %></h6>
        </div>
        <% }) %>
      </section>
      </div>
    </div>
</div>    
    <%- include('partials/footer') %>
</body>
</html>