<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
<%- include('partials/header') %>

<!--categorias-->
<div class="row container">
    <div class="col-12 col-md-6">
      <nav id="botoncategorias" class="navbar-expand-md">
       <button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="menu navbar-nav mr-auto"><h6>Categorias:</h6>
         <li><a href="">Procesadores</a></li>
         <li><a href="">Motherboards</a></li>
         <li><a href="">Almacenamiento</a></li>
          <li><a href="">RAM</a></li>
          <li><a href="">Gabinetes</a></li>
          <li><a href="">Fuentes</a></li>
          <li><a href="">Pantallas</a></li>
          <li><a href="">Otros</a></li>
       </ul>
       </div>
     </nav>
    </div>

    <!---todos los productos-->
    <div class="col-12 col-md-6">
      <h3 id="productostitulo">Productos</h3>
      <section id="todoslosproductos">
        <% productos.forEach(producto => { %>
        <div>
        <a href="/producto/detalle/<%- producto.id %>" style="text-decoration: none;"><h4 style="color: orange;"><%- producto.name %></h4>
        <img src="/images/<%- producto.image %>">
        </a>
        <h6 style="font-weight: bolder;">Precio:</h6><h6 style="color: rgb(0, 255, 0);">$<%- producto.price %></h6>
        </div>
        <% }) %>
      </section>
    </div>
    
</div>    
    <%- include('partials/footer') %>
</body>
</html>